
body {
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
}

header, body, footer {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
  
  }

 
.rich_text {
    text-align: center !important;
}

/* Footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 15px 10px;
    display: flex;
  }
  
  .statement, .traffic-count, .timer {
    flex: 1;
    text-align: center;
    padding: 0 20px;
  }

  /* .carouselcaption {
	position: absolute;
	z-index: 15;
} */

   /* Extra Small devices (landscape phones, under 576px) */
  .jumbotron.jumbotron-fluid.responsive { 
    padding-bottom: 6rem;
    background-size: cover;
    height: 100%!important;
    
  }
  

    /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
   .jumbotron.jumbotron-fluid.responsive {
    background-size: cover;
    /* height: 200px; */
    }
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) { 
  .jumbotron.jumbotron-fluid.responsive {
  padding-bottom: 12rem;}
}
  /* Large devices (desktops, 992px and up) */ 
@media (min-width: 992px) {
  .jumbotron.jumbotron-fluid.responsive {
    padding-bottom: 18rem;}
}


#footercontent {
display:flex;
justify-content: space-between;
flex-wrap: wrap;
background-color: black;
padding: 2rem;
}

#footercontent a i {
  font-size: 1.5rem;
  padding: 0 1rem;
} 

.footertext {

  color: azure;
}

/*mobile 600px */
@media ( max-width: 600px) { 
#footercontent {
  justify-content: center;
  align-items: center;
}}

#carouselExampleControls {

  position: relative;
}

.carouselcaption {
  position: absolute;
  font-size: 1.2rem;
  color: ghostwhite;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

#carouselExampleControls {
  height: 400px;
  overflow: hidden;
  
}