{% extends "base.html" %} {% load wagtailcore_tags wagtailimages_tags %}

<!-- @Add banner -->
<div class="container mb-sm-12 mt-sm-12" style="text-align: center;">
  {% block content %}

  <div class="container ph3 ph5-ns"> 
  <div class="Blog projects title" style="text-align: center;"> 
  <h1>{{ page.title }}</h1>
  </div>
  <div class="intro text-center">
    {{ page.intro|richtext }} {% for post in page.get_children %}
    <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
    {{ post.specific.date }} {% endfor %}
  </div>

  <div class="intro text-center">
    {{self.subtitle}}
  </div>
</div>

{% for block in page.content %} {% include_block block %} {% endfor %} 
<footer>
  <!-- Change traffic count to death count -->
  <div class="statement">1 child dies of hunger every 15 seconds</div>
  <div class="timer">15s</div>
  <div class="traffic-count">0 Children died since visiting this site</div>
</footer>
</div>

<script src="js/mysite.js"></script>
</div>
{% endblock %}
