{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block content %}
<div class="container ph3 ph5-ns"> 

    <div class="container mt-5 mb-5 text-center">
        <h1>{{ page.title }}</h1>
        <p>
            {{ self.thank_you_text|richtext }}
        </p>
    </div>
</div>

<footer>
    <!-- Change traffic count to death count -->
    <div class="statement">1 child dies of hunger every 15 seconds</div>
    <div class="timer">15s</div>
    <div class="traffic-count">0 Children died since visiting this site</div>
  </footer>
  </div>
  
  <script src="js/mysite.js"></script>

{% endblock %}