{% extends "base.html" %} 
{% load wagtailcore_tags %} 
{% block content %}

<!-- <div>
  {{self.subtitle}}
</div> -->

{% for block in page.content %}

<div class="container ph3 ph5-ns"> 
<div class="text-center">{% include_block block %}</div>
{% endfor %}


<footer>
  <!-- Change traffic count to death count -->
  <div class="statement">1 child dies of hunger every 10 seconds</div>
  <div class="timer">10s</div>
  <div class="traffic-count">0 Children died since visiting this site</div>
</footer>
</div>

<script src="js/mysite.js"></script>

</div>
{% endblock %}
